.example-spacer {
  flex: 1 1 auto;
}

.container-list {
  width: 100%;
  margin: auto;
}

.container-details {
  width: 100%;
  margin: auto;
}

.custom-flex {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 50%;
  margin: auto;
}

.detail-card {
  width: 40%;
  margin: auto;
}

@media (max-width: 900px) {
  .custom-flex {
    width: 100%;
    margin: auto;
    display: block;
  }
}
